* {
    color: black;
    font-family: Optima, sans-serif;
}

.dark-green {
    color: #0f6443;
}

.tan-bg-light {
    background-color: #eae8e3;
}

.tan-bg-dark {
    background-color: rgb(212, 209, 199);
}
